<div class="wrapper">
    <main>
        <div class="row h100">
            <div class="col-1-2 left-section">
                {{#if message}}
                    <div>
                        <p class="red">{{message}}</p>
                    </div>
                {{else}}
                    <div>
                        <p>{{__ 'wakeTime'}}</p>
                        <p class="time">{{ wake }}</p>
                    </div>
                    <hr>
                    <div>
                        <p>{{__ 'leaveTime'}}</p>
                        <p class="time">{{ leave }}</p>
                    </div>
                    <hr>
                    <div>
                        <p>Current mode of transportation:</p>
                        {{#switch transport}}
                            {{#case "bicycling" }}<img src="/static/images/bike.png" alt="bicycle" height="83" />{{/case}}
                            {{#case "driving" }}<img src="/static/images/car.svg" alt="car" height="83" />{{/case}}
                            {{#case "transit" }}<img src="/static/images/bus.svg" alt="bus" height="83" />{{/case}}
                            {{#case "walking" }}<img src="/static/images/walk.png" alt="walking" height="83" />{{/case}}
                        {{/switch}}
                    </div>
                {{/if}}
                <hr>
            </div>
            <div class="col-1-7">
                <div class="row controls alignRight">
                    <button id="newLecture">{{__ 'newLecture'}}</button>
                </div>
                <div class="row timetable">
                    {{#timetable data}}
                        <div class="lecture c{{ color }} lh-{{ Lecture.duration }}" data-lecture="{{ Lecture.idLecture }}" data-subject="{{ Lecture.idSubject }}">
                            <div>
                                <p class="title alignLeft">{{ Lecture.Subject.subjectName }}</p>
                                <div class="dropdown alignRight">
                                    <button class="dropbtn showDrop">&#x25BC;</button>
                                    <div class="dropdown-content">
                                        <a class="removeMenu">{{__ 'removeLecture'}}</a>
                                        <a class="replace">{{__ 'replaceLecture'}}</a>
                                        <a class="exchange">{{__ 'askExchange'}}</a>
                                    </div>
                                </div>
                                <button class="del remove alignRight">X</button>
                            </div>
                            <p class="detail enlarge">{{ Lecture.startTime }} {{ Lecture.location }}</p>
                            <p class="detail">{{ Lecture.Lecturer.lecturerName }}</p>
                        </div>
                    {{/timetable}}
                </div>
            </div>
        </div>
        <div id="courseSelect" class="row h100">
            <div class="col-1-2 w_back left-section">
                <div id="searchCon">
                    <label>{{__ 'selectCourse'}}</label><br>
                    <input type="text" placeholder="Search courses..." id="search" onkeyup="searchCousrses(this);"/>
                </div>
                <ul id="courseSelectList">
                </ul>
            </div>
            <div class="col-1-7">
                <div class="row controls w_back">
                    <label>{{__ 'selectLecture'}}</label>
                </div>
                <div class="row timetable" id="courseTimetable">
                    <div class="col-2-1">
                        <div class="day">{{__ 'Mon'}}</div>
                        <div class="lecture lh-14"></div>
                    </div>
                    <div class="col-2-1">
                        <div class="day">{{__ 'Tue'}}</div>
                        <div class="lecture lh-14"></div>
                    </div>
                    <div class="col-2-1">
                        <div class="day">{{__ 'Wed'}}</div>
                        <div class="lecture lh-14"></div>
                    </div>
                    <div class="col-2-1">
                        <div class="day">{{__ 'Thu'}}</div>
                        <div class="lecture lh-14"></div>
                    </div>
                    <div class="col-2-1">
                        <div class="day">{{__ 'Fri'}}</div>
                        <div class="lecture lh-14"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>