<main>
    <div class="content-wrapper">
        <h1>{{__ 'login'}}</h1>
        {{#if message}}
            <p class="red">{{ message }}</p>
        {{/if}}
        <form action="login" method="post">
            <div class="form form-group">
                <label>{{__ 'username'}}
                    <input type="text" name="username" required/>
                </label>
            </div>
            <div class="form form-group">
                <label>{{__ 'password'}}
                    <input type="password" name="password" required/>
                </label>
            </div>

            <input type="submit" value="Login"/>
        </form>
        <div class="form">
            <a href="/{{ lang }}/register">{{__ 'regLink'}}</a>
        </div>
    </div>
</main>