<main>
    <div class="content-wrapper" >
        <h1>{{__ 'settings'}}</h1>
        {{#if message}}
            <p class="red">{{ message }}</p>
        {{/if}}
        <form action="settings" method="post">
            <div class="form-group form-field">
                <label>{{__ 'email'}}:
                    <input type="email" id="email" name="email" value="{{ user.email }}" title="Must be a valid email address" pattern='(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))' required/>
                </label>
            </div>
            <div class="form-group form-field">
                <label>{{__ 'password'}}:
                    <input id="password" type="password" name="password" pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}" title="Between 8 and 50 characters long with at least 1 Alphabet and 1 Number">
                </label>
            </div>
            <div class="form-group form-field">
                <label>{{__ 'address'}}:
                    <input type="text" id="address" name="address" value="{{ user.Settings.address }}" required/>
                </label>
            </div>
            <div class="form-group">
                <label class="checkb">{{__ 'avaibleTransport'}}:</label>
                <input type="checkbox" name="vehicle1" {{#if user.Settings.carSelected}}checked="checked"{{/if}}/>
                <label>Avto</label>
                <input type="checkbox" name="vehicle2" {{#if user.Settings.busSelected}}checked="checked"{{/if}}/>
                <label>Avtobus</label>
                <input type="checkbox" name="vehicle3" {{#if user.Settings.bicycleSelected}}checked="checked"{{/if}}/>
                <label>Kolo</label>
                <input type="checkbox" name="vehicle4" {{#if user.Settings.pedSelected}}checked="checked"{{/if}}/>
                <label>Hoja</label>
            </div>
            <div class="form-group form-field">
                <label>{{__ 'prepTime'}}:
                    <input type="number" id="time" name="time" value="{{ user.Settings.preparationTime }}" min="0" required/>
                </label>
            </div>
            <input type="submit" value="{{__ 'save'}}" />
        </form>
        <hr>
        <form action="settings/import" method="post">
            <div class="form-group form-field">
                <label>{{__ 'studentId'}}:
                    <input type="text" id="StudentId" name="StudentId" value="0" title="8 digit number" pattern="63[0-9][0-9][0-9][0-9][0-9][0-9]" required/>
                </label>
            </div>
            <input id="timeSubmit" type="submit" value="{{__ 'import'}}" />
        </form>

    </div>
</main>